content {
    padding: 1em;
    display: block;
}

app { display: block; }
header { display: block; }
code { 
    padding: 0;
    margin: 0;
    background-color: transparent;
}
textarea { 
    width: 100%;
    margin: 0;
    padding: 0.25em;
}

h1 { 
    text-align: left;
    margin: 0;
    padding: 0.25em 0.5em;

    background-color: blue;
    color: white;

    font-family: Garamond, serif;
    font-style: oblique;
    font-size: x-large;
}

h2 {
    text-align: right;
    margin: 0px;
    padding: 0.25em 0.25em;

    background-color: green;
    color: white;

    font-family: Verdana, sans-serif;
    font-size: large;
}

.key-map-input {
    width: 1em;
    text-align: center;
}

.monospace { 
    font-family: monospace;
}

.padded {
    padding: 0.125em 0.5em;
}

.right-align {
    text-align: right
}

.row-header {
    font-weight: bold;
    color: black;
    padding: 0.25em;
}


